@page "/FormRegister"
@using WebHomeFinanceUI.Data

<EditForm Model="@editType" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <div>
            <label> Date :</label>
            <InputDate id="DateTransaction" @bind-Value="editType.DateTransaction" />
            <ValidationMessage For="@(() => editType.DateTransaction)" />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label> Type Transaction :</label>
            <InputNumber id="NameTransactionId" @bind-Value="editType.NameTransactionId" />
            <ValidationMessage For="@(() => editType.NameTransactionId)" />            
        </div>
    </div>
    <div class="form-group">
        <div>
            <label> Type Transaction :</label>
            <InputNumber id="Amount" @bind-Value="editType.Amount" />
            <ValidationMessage For="@(() => editType.Amount)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">@ButtonText</button>
</EditForm>

@code {
    [Parameter] public RootObjectRegister editType { get; set; }
    [Parameter] public RootObject listType { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}